*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Golos Text', serif;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.54) rgba(0, 0, 0, 0);
}
/*html{*/
/*    scrollbar-width: thin;*/
/*    scrollbar-color: rgba(0, 0, 0, 0.54) rgba(0, 0, 0, 0);*/
/*}*/

::-webkit-scrollbar {
    width: 0.36vw;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.54);
    border: none;
}